updatesi586:http://mirror.cse.unsw.edu.au/pub/linux/mandrake/updates
updatesi586:ftp://fr.rpmfind.net/linux/Mandrake/updates
updatesi586:ftp://ftp.free.fr/pub/Distributions_Linux/Mandrake/updates
updatesi586:ftp://ftp.nuri.net/pub/Linux/mandrake/updates
updatesi586:ftp://mirror.nucba.ac.jp/mirror/mandrake/updates
updatesi586:ftp://ftp.kddlabs.co.jp/Linux/packages/mandrake/updates
updatesi586:ftp://ftp.linux.co.za/pub/distributions/mandrake/updates
updatesi586:ftp://ftp.bylinux.net/pub/mandrake/updates
updatesi586:ftp://ftp.tu-graz.ac.at/pub/mirror/Mandrake/updates
updatesi586:http://gd.tuwien.ac.at/pub/linux/Mandrake/updates
updatesi586:ftp://ftp.belnet.be/packages/mandrake/updates
updatesi586:http://ftp.net.uni-c.dk/pub/linux/mandrake/updates
updatesi586:ftp://ftp.darenet.dk/pub/linux/mandrake/updates
updatesi586:ftp://ftp.sektornet.dk/pub/linux/mandrake/updates
updatesi586:ftp://sunsite.mff.cuni.cz/OS/Linux/Dist/Mandrake/mandrake/updates
updatesi586:ftp://ftp.clinet.fi/mirrors/ftp.linux-mandrake.com/updates
updatesi586:ftp://gd.tuwien.ac.at/pub/linux/Mandrake/updates
updatesi586:ftp://ftp.aso.ee/pub/os/Linux/distributions/mandrake/updates
updatesi586:ftp://ftp.univ-savoie.fr/pub/Linux/Mandrake/updates
updatesi586:ftp://fr2.rpmfind.net/linux/Mandrake/updates
updatesi586:ftp://ftp.univ-aix.fr/pub/linux/Mandrake/updates
updatesi586:http://chronos.iut-bm.univ-fcomte.fr/Mandrake/updates
updatesi586:ftp://ftp.ciril.fr/pub/linux/mandrake/updates
updatesi586:ftp://ftp.worldonline.fr/pub/Mandrake/updates
updatesi586:ftp://ftp.grolier.fr/pub/unix/linux/distributions/Mandrake/updates
updatesi586:ftp://ftp.uni-klu.ac.at/pub/linux/distributions/mandrake/stable/updates
updatesi586:ftp://ftp.uvsq.fr/pub5/mandrake/mandrake/updates
updatesi586:ftp://ftp.strasbourg.linuxfr.org/mandrake/updates
updatesi586:ftp://ftp.int-evry.fr/pub/linux/mandrake/updates
updatesi586:ftp://ftp.tu-chemnitz.de/pub/linux/mandrake/updates
updatesi586:ftp://ftp.vat.tu-dresden.de/pub/Mandrake/updates
updatesi586:ftp://ftp.tu-clausthal.de/pub/linux/mandrake/updates
updatesi586:ftp://ftp-stud.fht-esslingen.de/pub/Mirrors/Mandrake/updates
updatesi586:ftp://ftp.uni-mannheim.de/systems/linux/mandrake/updates
updatesi586:ftp://ftp.cs.univ-paris8.fr/pub/Linux/mandrake/updates
updatesi586:ftp://ftp.uni-bayreuth.de/pub/linux/Mandrake/updates
updatesi586:ftp://ftp.gigabell.net/pub/Mandrake/updates
updatesi586:ftp://ftp.index.hu/pub/mandrake/updates
updatesi586:ftp://ftp.index.hu/pub/mandrake/updates
updatesi586:ftp://ftp.kando.hu/pub/mandrake/mandrake/updates
updatesi586:ftp://ftp.esat.net/pub/linux/mandrake/updates
updatesi586:ftp://ftp.ntua.gr/pub/linux/mandrake/updates
updatesi586:ftp://ftp.edisontel.it/pub/Mandrake_Mirror/Mandrake/updates
updatesi586:http://bo.mirror.garr.it/mirrors/Mandrake/updates
updatesi586:ftp://bo.mirror.garr.it/mirrors/Mandrake/updates
updatesi586:ftp://ftp.nl.uu.net/pub/linux/mandrake/updates
updatesi586:ftp://ftp.latnet.lv/linux/mandrake/updates
updatesi586:ftp://ftp.task.gda.pl/pub/linux/Mandrake/updates
updatesi586:ftp://ftp.duth.gr/pub/Mandrake/updates
updatesi586:ftp://ftp.cica.es/pub/Linux/Mandrake/updates
updatesi586:ftp://ftp.kiarchive.ru/pub/linux/Mandrake/updates
updatesi586:ftp://ftp.kiae.su/pub/linux/Mandrake/updates
updatesi586:http://ftp.chl.chalmers.se/pub/Linux/distributions/Mandrake/updates
updatesi586:ftp://ftp.chl.chalmers.se/pub/Linux/distributions/Mandrake/updates
updatesi586:ftp://ftp.du.se/pub/mandrake/updates
updatesi586:ftp://sunsite.cnlab-switch.ch/mirror/mandrake/updates
updatesi586:http://www.mirror.ac.uk/sites/sunsite.uio.no/pub/unix/Linux/Mandrake/updates
updatesi586:ftp://sunsite.icm.edu.pl/pub/Linux/mandrake/updates
updatesi586:http://sunsite.ualberta.ca/pub/Mirror/Linux/mandrake/updates
updatesi586:ftp://ftp.linux.tucows.com/pub/distributions/Mandrake/Mandrake/updates
updatesi586:ftp://sunsite.ualberta.ca/pub/Mirror/Linux/mandrake/updates
updatesi586:ftp://ftp.planetmirror.com/pub/mandrake/updates
updatesi586:http://ftp.planetmirror.com/pub/mandrake/updates
updatesi586:http://rpmfind.net/linux/Mandrake/updates
updatesi586:ftp://rpmfind.net/linux/Mandrake/updates
updatesi586:ftp://ftp.twoguys.org/pub/linux/distributions/mandrake/updates
updatesi586:ftp://download.sourceforge.net/pub/mirrors/mandrake/updates
updatesi586:ftp://ftp.uwsg.indiana.edu/linux/mandrake/updates
updatesi586:ftp://herbie.ucs.indiana.edu/linux/mandrake/updates
updatesi586:http://ftp.eecs.umich.edu/pub/linux/mandrake/updates
updatesi586:ftp://ftp.eecs.umich.edu/pub/linux/mandrake/updates
updatesi586:ftp://phyppro1.phy.bnl.gov/pub/linux-mandrake/updates
updatesi586:ftp://carroll.cac.psu.edu/pub/linux/distributions/mandrake/updates
updatesi586:ftp://linux.org.il/pub/distributions/Mandrake/updates
updatesi586:ftp://ftp.math.utah.edu/pub/linux/Mandrake/updates
updatesi586:ftp://ftp.cee.odu.edu/pub/Linux/distributions/mandrake/updates
updatesi586:ftp://ftp.wtfo.com/pub/linux/mandrake/updates
updatesi586:http://sunsite.utk.edu/ftp/pub/linux/Mandrake/updates
updatesi586:ftp://ftp.tux.org/pub/distributions/mandrake/updates
updatesi586:ftp://ftp.ps.pl/mirrors/mandrake/updates
updatesi586:ftp://durruti.univ-reunion.fr/pub/distributions/mandrake/updates
updatesi586:ftp://ftp.ucr.ac.cr/pub/Unix/linux/mandrake/Mandrake/updates
updatesi586:http://carroll.cac.psu.edu/pub/linux/distributions/mandrake/updates
cookeri586:ftp://ftp.vat.tu-dresden.de/pub/Mandrake-devel/cooker/Mandrake/RPMS
cookeri586:ftp://ftp.planetmirror.com/pub/mandrake-devel/cooker/Mandrake/RPMS
cookeri586:ftp://rpmfind.net/linux/Mandrake-devel/cooker/cooker/Mandrake/RPMS
cookeri586:ftp://ftp.edisontel.it/pub/Mandrake_Mirror/Mandrake-devel/cooker/Mandrake/RPMS
cookeri586:ftp://gd.tuwien.ac.at/pub/linux/Mandrake-devel/cooker/Mandrake/RPMS
cookeri586:ftp://ftp.nuri.net/pub/Linux/mandrake-devel/cooker/Mandrake/RPMS
cookeri586:ftp://csociety-ftp.ecn.purdue.edu/pub/Mandrake-devel/cooker/Mandrake/RPMS
cookeri586:ftp://ftp.kando.hu/pub/mandrake/mandrake-devel/cooker/Mandrake/RPMS
cookeri586:ftp://ftp.ciril.fr/pub/linux/mandrake-devel/cooker/Mandrake/RPMS
cookeri586:ftp://durruti.univ-reunion.fr/pub/distributions/mandrake-devel/cooker/Mandrake/RPMS
cookeri586:ftp://ftp.grolier.fr/pub/unix/linux/distributions/Mandrake-devel/cooker/Mandrake/RPMS
cookeri586:ftp://ftp.chl.chalmers.se/pub/Linux/distributions/Mandrake-devel/cooker/Mandrake/RPMS
cookeri586:ftp://ftp-stud.fht-esslingen.de/pub/Mirrors/Mandrake-devel/cooker/Mandrake/RPMS
cookeri586:ftp://ftp.kddlabs.co.jp/Linux/packages/mandrake-devel/cooker/Mandrake/RPMS
cookeri586:ftp://ftp.du.se/pub/mandrake-devel/cooker/Mandrake/RPMS
cookeri586:ftp://sunsite.mff.cuni.cz/OS/Linux/Dist/Mandrake/mandrake-devel/cooker/Mandrake/RPMS
cookeri586:ftp://ftp.esat.net/pub/linux/mandrake-devel/cooker/Mandrake/RPMS
cookeri586:ftp://ftp.index.hu/pub/mandrake-devel/cooker/Mandrake/RPMS
cookeralpha:ftp://rpmfind.net/linux/Mandrake-devel/cooker/alpha/Mandrake/RPMS
cookerparc:ftp://rpmfind.net/linux/Mandrake-devel/cooker/sparc/Mandrake/RPMS
